/* 리셋 파일로 태그가 기존에 가진 것들을 모두 초기화 시켜주는 파일*/
/* 추후에 개인 취향으로 고쳐 사용하세요. */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* 
    a{
    color: inherit; font-family: inherit;
    }

*/

/* 
    //input의 기본 효과들을 벗겨내는 해킹코드//
    border: none; box-shadow: none; background-image: none; background-color: transparent;
    appearance: none; -webkit-appearance: none; -moz-appearance: none; font-family: inherit;
*/
/* 
    !important (느낌표 + important) 
    = 강제 탈취로 무조건 이걸 적용해라라는 뜻 무조건 우선순위다. 하지만 이건 최악의 상황일 때만 쓰기. 
*/
/* 
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    제이쿼리 링크
*/
/* 
    <head> 세팅 순서
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/jquery.bxslider.js"></script>
    <script src="js/jquery.fitvids.js"></script>
 ---- <script src="js/customize.bxslider.js"></script> ---- 실무에선 ㄴㄴ
    <link rel="stylesheet" href="css/import.css">
*/